<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>あなたの、”やりたい”が、社会の便利に。</title>
        <!-- font awesome読み込み-->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- css読み込み-->
        <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <header id="top">
            <div class="container">
                <div class="header-left">
                    <img class="logo scroll-top" src="/images/company-logo.png"> 
                </div>
                <span class="fa fa-bars header-fa"></span>
                <span class="fa fa-times header-fa"></span>
                <div class="header-right" id="header-right">
                    <a href="#top" class="menu-button header-side scroll-top">TOP</a>
                    <a href="#about" class="menu-button header-side">日本暗号資産市場株式会社について</a>
                    <a href="#guid" class="menu-button header-side">市場ご参加までの流れ</a>
                    <a href="#price" class="menu-button header-side" >料金体系</a>
                    <!--<a href="#" class="menu-button header-side">社長メッセージ</a>-->
                    <div class="entry header-side">
                        <span class="fa fa-edit"></span>
                        <a href="#register" class="menu-button">無料登録</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="top-wrapper" id="top-wrapper">
            <div class="container">
                <div class="center">
                    <div class="top-line">
                        <div class="think">モノ × 仮想通貨</div>
                    </div>
                    <div class="sub-title">世界初の<span>”暗号資産市場”</span>が、ついに開かれます。</div>
                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="second" id="about">
            <div class="top-row">
                <div class="company-about">日本暗号資産市場株式会社について</div>
                <div class="about"><span>A</span><span>b</span><span>o</span><span>u</span><span>t</span></div>
            </div>
            <div class="second-row">
                <div class="six-point-about bdTtl">日本暗号資産市場　６つのポイント</div>
                <div class="six-point">
                    <div class="point">
                        <div class="point-title">年会費・入会金無料</div>
                        <img src="/images/icon_point_01.png">
                        <div class="description">より多くの古物商の方に参加していただくために、市場に参加するための年会費・入会金が無料です！</div>
                    </div>
                    <div class="point">
                        <div class="point-title">手厚いサポート</div>
                        <img src="/images/icon_point_02.png">
                        <div class="description">当市場では、スタッフが仕入れから配送までしっかりとサポートさせていただきます！</div>
                    </div>
                    <div class="point">
                        <div class="point-title">世界初の暗号資産市場</div>
                        <img src="/images/icon_point_03.png">
                        <div class="description">当市場は、世界初の暗号資産を取り扱った古物市場になります。現金と暗号資産による競りをお楽しみください。</div>
                    </div>
                    <div class="point">
                        <div class="point-title">仮想通貨による支払い可能</div>
                        <img src="/images/icon_point_04.png">
                        <div class="description">複数の仮想通貨（暗号資産）による入札システムを導入予定です。仮想通貨を活用した入札システムをお待ちください。</div>
                    </div>
                    <div class="point">
                        <div class="point-title">古物商に優しい市場設計</div>
                        <img src="/images/icon_point_05.png">
                        <div class="description">私たちは出品者よし、落札者よし、世間よしの「三方良し」の古物市場を目指します。</div>
                    </div>
                    <div class="point">
                        <div class="point-title">ネットオークションも随時開催</div>
                        <img src="/images/icon_point_06.png">
                        <div class="description">当市場へのアクセスがしにくい方でもご参加いただけるよう、ネットオークションも開催致します！</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="fourth-row" id="guid">
            <div class="top-row">
                <div class="company-about">市場ご参加までの流れ</div>
                <div class="about"><span>G</span><span>u</span><span>i</span><span>d</span></div>
            </div>
            <div class="second-row-cript">
                <div class="group-img"><img src="/images/Group24.svg"></div>
                <div class="white-cript-hole">
                    <div class="white-cript">
                        ※なんらかの理由により、開催時刻が変更される場合がございます。<br>
                        ※こちらがお送りさせていただく資料の中身や規約は、突然変更される可能性がございます。<br>
                        ※市場の状況により、出品物が偏る可能性がございますので、ご了承くださいませ。<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="fifth-row" id="price">
            <div class="top-row">
                <div class="company-about">料金体系</div>
                <div class="about"><span>P</span><span>r</span><span>i</span><span>c</span><span>e</span></div>
            </div>
            <div class="second-row-price">
                <div class="price-img"><img src="/images/Group10.svg"></div>
                <div class="white-price-hole">
                    <div class="white-price">
                        ※買い歩は5％いただいております。<br>
                        ※当日参加する際に、入場料は3000円をいただいております。<br>
                        ※サービス開始当初は入会金・年会費とのに0円ですが、ユーザー数が急増した場合や想定<br>
                    　   <div>以上の参加者がいた場合、料金を変更する場合がございます。</div><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="six-row">
            <div class="top-row">
                 <div class="company-about">古物商無料登録フォーム</div>
                 <div class="about"><span>F</span><span>o</span><span>r</span><span>m</span></div>
            </div>
        </div>
        <div class="third-row" id="register">
            <div class="white">
                <img src="/images/building.svg">
                <div class="form">
                    <form id="form" method="post" action="/post">
                        <div class="cp_iptxt cp_iptxt-1">
                            <div class="item">
                                <input id="form1" type="text" placeholder="山田 太郎" name="userName">
                                <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                                <div class="error-message error-message-1"></div>
                            </div>
                        </div>
                        <div class="cp_iptxt cp_iptxt-2">
                            <div class="item">
                                <input id="form2" data-number="1" type="text" placeholder="ヤマダ　タロウ" name="kana">
                                <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                                <div class="error-message error-message-2"></div>
                            </div>
                        </div>
                        <div class="cp_iptxt cp_iptxt-3">
                            <div class="item">
                                <input id="form3" type="text" placeholder="会社名" name="companyname">
                                <i class="fa fa-building fa-lg fa-fw" aria-hidden="true"></i>
                                <div class="error-message error-message-3"></div>
                            </div>
                        </div>
                        <div class="cp_iptxt cp_iptxt-4">
                            <div class="item">
                                <input id="form4" type="text" placeholder="mail" name="mail">
                                <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>  
                                <div class="error-message error-message-4"></div>                              
                            </div>
                        </div>
                        <div class="cp_iptxt cp_iptxt-5">
                            <div class="item">
                                <input id="form5" type="text" placeholder="古物商許可番号" name="secondhanddealernumber">
                                <i class="fa fa-list-ol fa-lg fa-fw" aria-hidden="true"></i>
                                <div class="error-message error-message-5"></div>
                            </div>
                        </div>
                        <!--<div class="cp_iptxt">
                            <div class="item">
                                <p>古物商カード <span class="must">必須</span><br><input type="file" accept="image/*" name="attachment_file"></p>
                            </div>
                        </div>
                        -->
                        <p><input class="register-button" type="submit" value="無料登録"></p>
                        <div class="attention">※ご登録いただいた情報は厳重に保管させていただき、不当な理由で第三者に譲渡することはございません</div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="hole">
                <div class="up">
                    <div class="footer-logo"><img src="/images/company-logo.png"></div>
                    <div class="company-name">日本暗号資産市場株式会社</div>
                    <div class="footer-location">〒161-0033 新宿区下落合3-15-22 ランドール目白502</div>
                    <div class="footer-number">03-6908-3514</div>
                    <a href="https://twitter.com/ocurima" class="social-icon" id="social-icon" target='_blank'>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="down">
                    <div>掲載の記事・写真・イラストなどのすべてのコンテンツの無断複写・転載等を禁じます<br>© 2020 日本暗号資産市場株式会社</div>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="/javascript/jquery.js"></script>
    </body>
</html>