<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>あなたの、”やりたい”が、社会の便利に。</title>
        <!-- font awesome読み込み-->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- css読み込み-->
        <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
        <link rel="icon" type="image/png" href="/images/logo.png">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="header-left">
                    <img class="logo" src="/images/company-logo.png"> 
                </div>
                <span class="fa fa-bars header-fa"></span>
                <div class="header-right">
                    <a href="#" class="menu-botton header-side">TOP</a>
                    <a href="#" class="menu-botton header-side">日本暗号資産市場株式会社について</a>
                    <!--<a href="#" class="menu-botton header-side">社長メッセージ</a>-->
                    <div class="entry header-side">
                        <span class="fa fa-edit"></span>
                        <a href="#" class="menu-botton">REGISTER</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="top-wrapper">
            <div class="container">
                <div class="center">
                    <div class="top-line">
                        <div class="think">モノ × 仮想通貨</div>
                    </div>
                    <div class="sub-title">世界初の<span>”暗号資産市場”</span>が、ついに開かれます。</div>
                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="second">
            <div class="top-row">
                <div class="company-about">日本暗号資産市場株式会社について</div>
                <div class="about"><span>A</span><span>b</span><span>o</span><span>u</span><span>t</span></div>
            </div>
            <div class="second-row">
                <div class="six-point-about bdTtl">日本暗号資産市場　６つのポイント</div>
                <div class="six-point">
                    <div class="point">
                        <div class="point-title">年会費・入会金無料</div>
                        <img src="/images/icon_point_01.png">
                        <div class="description">より多くの古物商の方に参加していただくために、市場に参加するための年会費・入会金が無料です！</div>
                    </div>
                    <div class="point">
                        <div class="point-title">手厚いサポート</div>
                        <img src="/images/icon_point_02.png">
                        <div class="description">当市場では、スタッフが仕入れから配送までしっかりとサポートさせていただきます！</div>
                    </div>
                    <div class="point">
                        <div class="point-title">世界初の暗号資産市場</div>
                        <img src="/images/icon_point_03.png">
                        <div class="description">当市場は、世界初の暗号資産を取り扱った古物市場になります。現金と暗号資産による競りをお楽しみください。</div>
                    </div>
                    <div class="point">
                        <div class="point-title">仮想通貨による支払い可能</div>
                        <img src="/images/icon_point_04.png">
                        <div class="description">複数の仮想通貨（暗号資産）による入札システムを導入予定です。仮想通貨を活用した入札システムをお待ちください。</div>
                    </div>
                    <div class="point">
                        <div class="point-title">古物商に優しい市場設計</div>
                        <img src="/images/icon_point_05.png">
                        <div class="description">私たちは出品者よし、落札者よし、世間よしの「三方良し」の古物市場を目指します。</div>
                    </div>
                    <div class="point">
                        <div class="point-title">ネットオークションも随時開催</div>
                        <img src="/images/icon_point_06.png">
                        <div class="description">当市場へのアクセスがしにくい方でもご参加いただけるよう、ネットオークションも開催致します！</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="top-row">
            <div class="secondhand-dealer-form">古物商登録フォーム</div>
            <div class="hart"><span>F</span><span>o</span><span>r</span><span>m</span></div>
        </div>
        <div class="third-row">
            <div class="white">
                <img src="/images/building.svg">
                <div class="form">
                    <form method="post" action="/form/post">
                        <div class="cp_iptxt">
                            <div class="item">
                                <input type="text" placeholder="山田 太郎" name="userName">
                                <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="cp_iptxt">
                            <div class="item">
                                <input type="text" placeholder="ヤマダ　タロウ" name="kana">
                                <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="cp_iptxt">
                            <div class="item">
                                <input type="text" placeholder="会社名" name="companyname">
                                <i class="fa fa-building fa-lg fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="cp_iptxt">
                            <div class="item">
                                <input type="text" placeholder="mail" name="mail">
                                <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="cp_iptxt">
                            <div class="item">
                                <input type="text" placeholder="古物商許可番号" name="secondhanddealernumber">
                                <i class="fa fa-list-ol fa-lg fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!--<div class="cp_iptxt">
                            <div class="item">
                                <p>古物商カード <span class="must">必須</span><br><input type="file" accept="image/*" name="attachment_file"></p>
                            </div>
                        </div>
                        -->
                        <p><input class="register-botton" type="submit" value="登録"></p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>