/* メディアクエリ */
@media (max-width: 957px) {
    * {
      box-sizing: border-box;
    }
  
    .container {
      padding-top: 5px;
    }
  
    .center {
      margin-top: 170px;
    }
  
    header {
      background-color: rgba(255, 255, 255, 0.356);
      box-sizing: border-box;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 0px;
    }
  
    .header-left {
      width: 0;
    }
    
    .header-left img {
      width: 100px;
      padding: 0;
    }
  
    .hide {
      display: none;
    }
  
    .header-right {
      margin-top: 0px;
      padding: 0px 0 0px 0px;
      text-align: right;
    }
  
    .header-fa {
      font-size: 30px;
      display: inline-block;
      padding-top: 22px;
      padding-right: 5px;
      color: white;
      display: block;
    }
  
    .menu-button {
      font-size: 10px;
    }
  
    .header-side {
      font-weight: lighter;
      color: white;
      background-color: rgba(0, 83, 161, 0.781);
      padding: 3px 12px;
      margin-bottom: 0px;
      margin-top: 3px;
    }
  
    .header-side .menu-button {
      font-weight: lighter;
      color: rgb(225, 225, 225);
    }
  
    .entry .fa {
      margin-left: 5px;
    }
  
    .top-wrapper {
      height: 400px;
    }
  
    .think {
      font-size: 30px;
      padding-top: 0px;
    }
  
    .sub-title {
      font-size: 11px;
    }
  
    .company-about {
      font-size: 20px;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  
    .company-about::before {
      padding-top: 35px;
    }
  
    .about {
      padding-top: 100px;
      font-size: 70px;
    }
  
    .second-row {
      padding-top: 70px;
      padding-bottom: 60px;
      padding-right: 0%;
      padding-left: 0%;
    }
  
    .six-point-about {
      font-size: 13px;
    }
  
    .bdTtl:before,.bdTtl:after {
      width: 50px;
    }
  
    .six-point {
      display: flex;
      flex-direction: row;
    }
  
    .point {
      padding: 40px 20px 20px 20px;
      box-sizing: content-box;
      width: 29%;
      margin: 13px 7px;
    }
  
    .point-title {
      font-size: 10px;
    }
  
    .description {
      font-size: 0.2rem;
      padding-top: 10px;
    }
  
    .second-row-cript {
      padding: 70px 0;
    }
  
    .group-img {
      width: 100%;
      padding: 15px 10px;
    }
  
    .group-img img {
      width: 100%;
    }
  
    .white-cript {
      padding: 10px;
      font-size: 10px;
      width: 90%;
      margin-top: 40px;
      letter-spacing: 1px;
      line-height: 20px;
    }
  
    .second-row-price {
      padding: 10px;
      padding-top: 80px;
      padding-bottom: 50px;
    }
  
    .price-img img {
      width: 100%;
      padding: 0;
      padding-bottom: 10px;
    }
  
    .white-price {
      padding: 20px;
      font-size: 10px;
    }
  
    .third-row img {
      display: none;
    }
  
    .white {
      padding-left: 0%;
      padding-right: 0%;
      padding-top: 0px;
      padding-bottom: 30px;
    }
  
    .form {
      flex-basis: 100%;
    }
  
    .cp_iptxt {
      position: relative;
      width: 70%;
      margin: 25px auto;
      box-sizing: border-box;
    }
  
    .cp_iptxt input[type='text'] {
      font: 10px/25px sans-serif;
      box-sizing: border-box;
      width: 100%;
      padding: 0.3em;
      padding-left: 40px;
      letter-spacing: 0.5px;
      border: 0;
    }
  
    .cp_iptxt i {
      position: absolute;
      top: 0;
      left: 0;
      padding: 8px 5px;
      transition: 0.3s;
      color: #aaaaaa;
    }
  
    .register-button {
      font-size: 10px;
      padding: 6px 40px;
      color: #ffffff;
      border: 2px solid rgba(255, 255, 255, 0.3);
      background-color: #ff892B;
      border-radius: 30px;
      box-shadow: 0px 4px #bd6822;
      cursor: pointer;
      margin-bottom: 10px;
    }
  
    .attention {
      width: 90%;
      margin: 0 auto;
    }
  
    .down div {
      font-size: 5px;
      width: 90%;
      margin: 0 auto;
    }
  }