
body {
  margin: 0;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
}

/* ヘッダー */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(225,225, 225, 0.2);
  max-width: 1500px;
}

.headerColor-default {
  background-color: rgba(255, 0, 0, 0.836);
}

.header-left {
  float: left;
}

.header-left img {
  padding-top: 3.5px;
  width: 200px;
}

.Japan {
  letter-spacing: 5px;
}

.header-fa  {
  float: right;
  padding-top: 8px;
  display: none;
}

.fa-times {
  display: none;
}

.header-right {
  /*float: right;*/
  display: flex;
  justify-content: flex-end;
  padding-top: 14px;
  box-sizing: border-box;
}

.header-right a:hover {
  opacity: 0.7;
}

.menu-button {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}

.entry .menu-button {
  color: black;
}

.header-side {
  padding: 20px 16px;
  font-size: 13px;
  margin-top: -5px;
}

.entry {
  background-color: white;
  border-radius: 3px;
  margin: 0px 0;
  padding: 16px 30px;
  margin-left: 5px;
  display: 5px;
}

.entry .fa {
  padding-right: 3px;
}

.clear {
  clear: both;
}

/* トップラッパー */
.top-wrapper {
  height: 789px;
  background-image: url(/images/earth2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  margin-top: 220px;
}

.top-line {
  display: flex;
  justify-content: center;
}

.think {
  color: white;
  letter-spacing: 6px;
  font-size: 70px;
  padding-top: 100px;
}

.center .top-line span {
  letter-spacing: -3px;
}

.new-picture {
  padding-top: 60px;
  padding-left: 15px;
  width: 140px;
  height: 120px;
  opacity: 0.8;
  transform: rotate(10deg);
}

.line {
  color: white;
  font-size: 60px;
  font-weight: bold;
  padding-top: 103px;
}

.light-picture {
  width: 130px;
  height: 135px;
  opacity: 0.9;
  padding-top: 30px;
  transform: rotate(-14deg);
}

.sub-title {
  color: white;
  font-weight: bolder;
  font-size: 18px;
  font-family: "YuGothic";
  padding-top: 10px;
  letter-spacing: 3.5px;
}

.sub-title span {
  letter-spacing: 6px;
}

.top-wrapper i {
  font-size: 30px;
  color: white;
  padding-top: 220px;
}

.second {
  font-family: Courier;
  font-weight: lighter;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.top-row {
  position: relative;
}

.company-about {
  font-size: 30px;
  font-family: "YuGothic";
  padding-top: 100px;
  padding-bottom: 90px;
  opacity: 0.7;
  position: relative;
  text-align: center;
}

.company-about::before {
  content: "";
  border-bottom: 3px solid rgba(255, 0, 0, 0.836);
  width: 30px;
  padding-top: 48px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

.about{
  font-size: 210px;
  opacity: 0.04;
  position: absolute;
  top: -40px;
  right: 23px;
  letter-spacing: 9px;
}

.about span {
  font-family: cursive;
  display: block;
  transform: rotate(7deg);
  float: left;
}



.second-row {
  background-color: rgba(00, 00, 00, 0.85);
  padding-top: 80px;
  padding-bottom: 100px;
  padding-right: 5%;
  padding-left: 5%; 
}

.six-point-about {
  padding-bottom: 35px;
  opacity: 0.9;
  font-size: 20px;
  color: white;
}

.bdTtl {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.bdTtl:before,.bdTtl:after {
  border-top: 1px solid white;
  opacity: 0.9;
  content: "";
  flex-grow: 0; 
  width: 330px;
}
  
.bdTtl:before {
  margin-right: 0.5rem;
}
  
.bdTtl:after {
  margin-left: 0.5rem;
}

.six-point {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center; 
}

.point {
  width: 270px;
  height: 230px;
  background-color: white;
  padding: 40px 20px 40px 20px;
  margin: 13px;
}

.point-title {
  font-size: 18px;
  padding-bottom: 20px;
  opacity: 0.75;
}

.point img {
  width: 75px;
}

.description {
  font-size: 15px;
  font-family: "MS ゴシック";
  padding-top: 25px;
  opacity: 0.8;
}

.second-row-cript {
  text-align: center;
  background-image: url(/images/desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.group-img {
  width: 72%;
  margin: 0 auto;
  display:block;
  background-color: white;
  padding: 20px;
}

.white-cript-hole {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.white-cript {
  display: inline-block;
  text-align: left;
  margin: auto;
  margin-top: 80px;
  background-color: white;
  width: 60%;
  padding: 50px;
  font-size: 15px;
  border: 3px solid rgba(0, 0, 0, 0.8);
  letter-spacing: 1.5px;
}

.second-row-price {
  background-image: url(/images/server.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.price-img img {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  display: block;
}

.white-price-hole {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.white-price {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  padding: 50px;
  color: white;
  letter-spacing: 1.5px;

}

.third-row {
  width: 100%;
  box-sizing: border-box;
  padding: 4%;
  background-color: rgba(36,90,128,0.7);
  margin: auto;
  margin-bottom: 0px;
}

.white {
  height: 100%;
  margin: auto; 
  background-color:rgb(248,248,248);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.white img {
  width: 45%;
  opacity: 0.9;
}

.form {
  flex-basis: 70%;
  text-align: center;
}

.cp_iptxt {
	position: relative;
	width: 70%;
  margin: 45px 20%;
  box-sizing: border-box;
}

.cp_iptxt input[type='text'] {
	font: 15px/34px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	padding-left: 40px;
	letter-spacing: 1px;
	border: 0;
}

.cp_iptxt input[type='text']:focus {
	outline: none;
}

.cp_iptxt input[type='text']:focus::after {
	outline: none;
}

.cp_iptxt i {
	position: absolute;
	top: 0;
	left: 0;
	padding: 13px 5px;
	transition: 0.3s;
	color: #aaaaaa;
}

.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -1px;
	content: '';
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #da3c41;
}

input {
  border-radius: 7px;
}

.register-button {
  font-size: 17px;
  padding: 6px 60px;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: #ff892B;
  border-radius: 30px;
  box-shadow: 0px 4px #bd6822;
  cursor: pointer;
}

.register-button:hover {
  color: rgba(225, 225, 225, 0.9);
}

.register-button:active {
  position: relative;
  top: 4px;
  box-shadow: none;
}

.register-button:focus {
  outline: none;
}

.attention {
  font-size: 10px;
}

.hole {
  text-align: center;
}

footer .up {
  background-color: rgb(246,245,245);
  padding: 20px;
}

.footer-logo {
  text-align: center;
  padding-top: 10px;
}

.footer-logo img{
  width: 130px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgba(00, 00, 00, 0.8);
  margin-bottom: 10px;
}

.company-name {
  font-size: 13px;
  padding-top: 5px;
}

.footer-location {
  padding-top: 7px;
}

.footer-number {
  padding-bottom: 7px;
}

.footer-location, .footer-number {
  text-align: center;
  font-size: 6px;
  letter-spacing: 1.5px;
}

.social-icon {
  text-align: center;
  display: inline-block;
  background: rgba(94, 144, 255, 0.75);
  color: #e3e3e3;
  width: 24px;
  height: 24px;
  padding-top: 4px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  box-sizing: border-box;
  margin: 10px;
}

.social-icon:hover{
  color: #e3e3e3;
  background-color: rgb(94, 144, 255);
}


footer .down {
  font-size: 12px;
  color: white;
  background-color: rgb(50,50,50);
  padding: 20px 0px;
}

/* postしてから */
.thanks {
  font-size: 18px;
  padding-bottom: 50px;
  text-align: center;
  color: rgba(0, 0, 0, 0.836);
}

/* メディアクエリ */
@media (max-width: 918px) {
  * {
    box-sizing: border-box;
  }

  header {
    background-color: rgba(255, 0, 0, 0.836);
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-left {
    width: 0;
  }

  .header-right {
    margin-top: 45px;
    padding: 0px 0 0px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .header-fa {
    font-size: 30px;
    display: inline-block;
    padding-top: 22px;
    padding-right: 5px;
    color: white;
    display: block;
  }

  .menu-button {
    font-size: 10px;
  }

  .header-side {
    width: 90%;
    padding: 8px 0px;
    margin-bottom: 30px;
    display: none;
  }

  .entry .fa {
    margin-left: 5px;
  }

  .top-wrapper {
    height: 600px;
  }

  .think {
    font-size: 35px;
    padding-top: 65px;
  }

  .sub-title {
    font-size: 11px;
  }

  .company-about {
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .company-about::before {
    padding-top: 35px;
  }

  .about {
    padding-top: 100px;
    font-size: 70px;
  }

  .second-row {
    padding-top: 70px;
    padding-bottom: 60px;
    padding-right: 0%;
    padding-left: 0%;
  }

  .six-point-about {
    font-size: 13px;
  }

  .bdTtl:before,.bdTtl:after {
    width: 50px;
  }

  .six-point {
    display: flex;
    flex-direction: row;
  }

  .point {
    padding: 40px 20px 20px 20px;
    box-sizing: content-box;
    width: 29%;
    margin: 13px 7px;
  }

  .point-title {
    font-size: 10px;
  }

  .description {
    font-size: 0.4rem;
    padding-top: 15px;
  }

  .second-row-cript {
    padding: 70px 0;
  }

  .group-img {
    width: 100%;
    padding: 15px 10px;
  }

  .group-img img {
    width: 100%;
  }

  .white-cript {
    padding: 10px;
    font-size: 10px;
    width: 90%;
    margin-top: 40px;
    letter-spacing: 1px;
    line-height: 20px;
  }

  .second-row-price {
    padding: 10px;
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .price-img img {
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
  }

  .white-price {
    padding: 20px;
    font-size: 10px;
  }

  .third-row img {
    display: none;
  }

  .white {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .form {
    flex-basis: 100%;
  }

  .attention {
    width: 90%;
    margin: 0 auto;
  }

  .down div {
    font-size: 5px;
    width: 90%;
    margin: 0 auto;
  }
}